@{
    ViewData["Title"] = "Success";
}

<h1>Login Successful!</h1>
<p>Welcome to the Actros Movies application.</p>

<!-- Buttons to navigate to Add Actor and Add Movie pages -->
<div class="mt-4">
    <a href="@Url.Action("AddActor")" class="btn btn-warning">Add Actors</a>
    <a href="@Url.Action("AddMovie")" class="btn btn-info">Add Movies</a>
    <a href="@Url.Action("Association")" class="btn btn-warning">Add Associations</a>
</div>
